@font-face {
  font-family: 'MetricHPE-Web-Regular';
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/MetricHPE_Web/MetricHPE-Web-Regular.woff') format('woff') /* Modern Browsers */

}

@font-face {
  font-family: 'MetricHPE-Web-Semibold';
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Semibold.eot'); /* IE9 Compat Modes */
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/MetricHPE_Web/MetricHPE-Web-Semibold.woff') format('woff') /* Modern Browsers */

}

@font-face {
  font-family: 'MetricHPE-Web-Thin';
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/MetricHPE_Web/MetricHPE-Web-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/MetricHPE_Web/MetricHPE-Web-Thin.woff') format('woff') /* Modern Browsers */

}